@font-face {
  font-family: 'Trattatello';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../static/fonts/trattatello/trattatello-webfont.woff2') format('woff2'),
       url('../../static/fonts/trattatello/trattatello-webfont.woff') format('woff');
}
